h1{
  margin-left: 5px;
}
.add-student-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 12px 0 0 0;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.register-form input {
  padding: 16px;
  font-size: 16px;
  margin-bottom: 16px;
  margin-right: 5px;
  border: 1px solid #292934;
  border-radius: 7px;
}


@media (orientation: portrait) {
  .add-student-container {
    display: flex;
    flex-direction: column;
  }
}
