@media (orientation: portrait) {
  .admin-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Lexend", sans-serif;
  }

  .definition-container {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    padding-bottom: 45px;
  }

  .form-container {
    margin-top: 55px;
    margin-bottom: 0px;
    padding: 8px;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    border: rgb(32, 32, 32) 2px solid;
    border-radius: 10px;
  }
}

@media (orientation: landscape) {
  .admin-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Lexend", sans-serif;
  }

  .definition-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 650px;
    padding-bottom: 45px;
  }

  .form-container {
    margin-top: 25px;
    margin-bottom: 5px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 650px;
    border: rgb(32, 32, 32) 2px solid;
    border-radius: 10px;
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: flex-start;
}

.title-container h3 {
  opacity: 0.5;
  font-weight: 600;
}

.definition-container #submit-button {
  max-width: 134px;
}

.definition-container input {
  color: black;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.register-form input {
  color: rgb(32, 32, 32);
  text-align: center;
}

.definition-option {
  text-align: left;
}

.wordsearch-container input {
  border: 1px solid #292934;
  border-radius: 14px;
  color: black;
  text-align: center;
  width: auto;
}

.wordsearch-container button {
  position: absolute;
  bottom: 0;
}

.form-container button {
  color: rgb(255, 255, 255);
}

.form-container input[type="radio"] {
  position: absolute;
  margin-top: 6px;
  margin-left: 10px;
}

.form-container input[type="radio"] ~ label {
  padding-left: 2em;
  display: inline-block;
  padding-right: 1.4em;
  margin-bottom: 10px;
}

#find-button {
  margin-top: 22px;
  background: #7450e9;
  height: 45px;
  max-width: 95%;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-align: center;
  padding: 4px;
}

#gradeLevel input {
  max-width: 45%;
}

#wordsearch-container {
  display: flex;
  flex-direction: column;
}

#wordsearch-container input {
  margin: 8px;
}

#definition-button-container {
  position: relative;
  bottom: 0;
  max-width: 100%;
  text-align: center;
  margin-bottom: 0;
}

#definition-button-container button {
  width: 97px;
  margin: 10px;
}
