.form-constainer {
  align-self: center;
  justify-self: center;
}

.flashcard-definition {
  width: 375px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }