.form-container {
  position: relative;
  align-self: center;
  justify-self: center;
}

.flashcard-definition {
  min-width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  #button {
    width: 100px;
    height: 45px;
    margin: 10px;
    border-radius: 8px;
    background: #7450e9;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }

  #button-container{
    position: absolute;
    bottom: 0;
  }

  #definition {
    max-width: 80%;
    height: 100px;
    margin-top: 86px;
  }

  #word{
    position: absolute;
    top: 15px;
    align-self: center;
  }

  #word h1{
    font-size: 4em;
  }

  #letter{
    color: yellow
  }