.form-container {
  position: relative;
  align-self: center;
  justify-self: center;
}

.flashcard-definition {
  width: 375px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  #next-button {
    position: absolute;
    bottom: 0;
    width: 65%;
    height: 45px;
    border-radius: 8px;
    background: #7450e9;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }

  #definition {
    width: 80%;
    height: 100px;
  }

  #word{
    position: absolute;
    top: 20px;
    align-self: center;
  }