.flashcard {
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 8px;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  border: rgb(32, 32, 32) 2px solid;
  border-radius: 10px;
}

#landing-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
