.navOption {
  margin: 0 10px 0 10px;
  text-decoration: none;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 35px 10px 35px;
}

.nav-bar a {
  display:flex;
  flex-direction: column;
  padding: 10px 35px 10px 35px;
  font-size: 14px;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
}

#logo {
  margin: 0;
  display: flex;
  margin-right: auto;
  align-items: center;
}

#logo h3 {
  font-size: 22px;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
}

#logo img {
  height: 35px;
  margin-right: 8px;
}
