.avatar-container {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

#profile-page {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 100%;
  align-items: center;
  justify-content: center;
}

@media (orientation: portrait) {
  #profile-card {
    border: 2px solid black;
    padding: 12px;
    width: 95%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #profile-card button {
    background: #7450e9;
    border: none;
    color: white;
    font-weight: 600;
    text-align: center;
    padding: 7px;
    margin: 4px;
    border-radius: 12px;
    height: 45px;
    width: 150px;
  }
}

@media (orientation: landscape) {
  #profile-card {
    margin-top: 10px;
    border: 2px solid black;
    padding: 12px;
    width: 90%;
    height: 250px;
    border-radius: 12px;
    display: grid;
    grid-template-rows: 70% 30%;
    grid-template-columns: 40% 60%;
    grid-template-areas:
      "main bio"
      "button contact";
  }

  #profil-image {
    grid-area: main;
  }

  #bio-info {
    grid-area: bio;
  }

  #update-avatar {
    grid-area: button;
  }
  #update-avatar button {
    margin-top: 16px;
  }

  #user-email {
    grid-area: contact;
  }
  #user-email h3 {
    margin-top: 10px;
  }

  #profile-card button {
    background: #7450e9;
    border: none;
    color: white;
    font-weight: 600;
    text-align: center;
    padding: 7px;
    margin-left: 8px;
    margin-top: 16px;
    border-radius: 12px;
    height: 45px;
    width: 150px;
  }
}

#profile-card button:hover {
  background: blue;
}

#profile-card button:active {
  background: red;
}

#profile-pic {
  width: 150px;
  position: relative;
  margin: 8px;
}

#voice-setting {
  border: 2px solid black;
  border-radius: 12px;
  width: 90%;
  padding: 12px;
  margin-top: 1em;
  margin-bottom: 0.3em;
  text-align: center;
}

#voice-setting p {
  margin-left: 12px;
  text-align: left;
}

#voice-setting select {
  padding: 0;
  color: black;
  font-family: inherit;
  margin-left: 5px;
}

#voice-setting button {
  align-self: center;
  background: #7450e9;
  border: none;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 7px;
  margin-left: 8px;
  margin-top: 16px;
  border-radius: 12px;
  height: 45px;
  width: 150px;
}
