.avatar-container {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

#profile-page {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  align-items: center;
  justify-content: center;
}

@media (orientation: portrait){
#profile-card {
  border: 2px solid black;
  padding: 12px;
  width: 95%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
}

@media (orientation: landscape){
  #profile-card {
    border: 2px solid black;
    padding: 12px;
    width: 90%;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
#profile-card button {
  background: #7450e9;
  border: none;
  color: white;
  font-weight: 600;
  text-align:center;
  padding: 7px;  
  margin: 4px;
  border-radius: 12px;
  height: 45px;
  width:150px;
}

#profile-card button:hover {
  background: blue;
}

#profile-card button:active {
  background: red;
} 

#profile-pic {
  width: 150px;
  position: relative;
  margin: 8px;
}
