@media (orientation: portrait) {
  #spellingBeeMode-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .form-container {
    margin-top: 35px;
    margin-bottom: 5px;
    padding: 8px;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    border: rgb(32, 32, 32) 2px solid;
    border-radius: 10px;
    text-align: center;
  }
}

@media (orientation: landscape) {
  #spellingBeeMode-page {
    width: 100%;
    max-width: 750px;
    display: grid;
    grid-template-rows: 55px auto;
    grid-template-columns: 60% 40%;
    grid-template-areas:
      "header header"
      "main sidebar";
    align-items: center;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #speak {
    grid-area: main;
    margin-left: 10%;
  }

  #voice-commands {
    align-items: center;
    grid-area: sidebar;
  }

  #spellingBeeMode-page h2 {
    vertical-align: middle;
    text-align: center;
    grid-area: header;
    margin-top: 8px;
  }

  .form-container {
    margin-top: 0px;
    padding: 8px;
    height: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 450px;
    border: rgb(32, 32, 32) 2px solid;
    border-radius: 10px;
    text-align: center;
  }
}

.form-container button {
  background: #7450e9;
  border: none;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 7px;
  margin: 4px;
  border-radius: 12px;
  height: 45px;
  width: 75px;
}

.form-container button:hover {
  background: blue;
}

.form-container button:active {
  background: red;
}

#list {
  text-align: left;
}
